{% extends 'base.html'%}
{% load static %}
{% block title %}IAF | Products{% endblock %}


{% block body %}

<div class="iaf-products-page">
    <div class="d-none d-sm-block">
      <div class="container iaf-products-page-container">
        <div class="card-group">
          <div class="card border-0 align-items-center">
            <img src="{% static 'images/product1.jpg'%}" class="card-img-top iaf-product-img" alt="..." >
            <div class="card-body">
              <p class="card-text">
                Product 1<br>
                $0.00
              </p>
            </div>
          </div>
          <div class="card border-0  align-items-center">
            <img src="{% static 'images/product2.jpg'%}" class="card-img-top iaf-product-img" alt="...">
            <div class="card-body">
              <p class="card-text">
                Product 2<br>
                $0.00
              </p>
            </div>
          </div>
          <div class="card border-0  align-items-center">
            <img src="{% static 'images/product3.jpg'%}" class="card-img-top iaf-product-img" alt="...">
            <div class="card-body">
              <p class="card-text">
                Product 3<br>
                $0.00
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="d-block d-sm-none mt-5">
      <div class="container" style="width: 350px;">
        
        <div class="row">
          <div class="col">
            <div class="card border-0 align-items-center">
              <img src="{% static 'images/product1.jpg'%}" class="card-img-top iaf-product-img" alt="..." >
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 1<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0  align-items-center">
              <img src="{% static 'images/product3.jpg'%}" class="card-img-top iaf-product-img" alt="...">
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 2<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card border-0 align-items-center">
              <img src="{% static 'images/product1.jpg'%}" class="card-img-top iaf-product-img" alt="..." >
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 1<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0  align-items-center">
              <img src="{% static 'images/product3.jpg'%}" class="card-img-top iaf-product-img" alt="...">
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 2<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="card border-0 align-items-center">
              <img src="{% static 'images/product1.jpg'%}" class="card-img-top iaf-product-img" alt="..." >
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 1<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card border-0  align-items-center">
              <img src="{% static 'images/product3.jpg'%}" class="card-img-top iaf-product-img" alt="...">
              <div class="card-body">
                <p class="card-text iaf-products-description">
                  Product 2<br>
                  $0.00
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}