{% extends 'base.html' %} {% load static %} 

{% block title %}IAF | Homepage{%endblock %} 

{% block body %}

<div class="iaf-banner card bg-transparent text-white border-0">
  <!-- <img src="{% static 'images/iaf-banner.png' %}" class="card-img iaf-banner-img" alt="..." /> -->
  <div class="card-img-overlay iaf-banner-img">
    <div class="container">
      <div class="row">
        <div class="col-sm col-md-2 col-lg-2"></div>
        <div class="col-sm col-md-8 col-lg-8">
          <p class="text-center iaf-banner-text-1">
            Liberia's Number 1 <br />
            Aluminum Manufacturer
          </p>
          <p class="text-center iaf-banner-text-2">Your window to the world!</p>
          <div class="card iaf-banner-card">
            <div class="card-body text-center iaf-banner-card-text">
              “Building customer relationship through<br>prodigious aluminum craftsmanship“
            </div>
            <div class="iaf-est-btn">
              <a href="{% url 'applications:book_an_estimate' %}" class=" iaf-book-est-btn text-center rounded-pill text-decoration-none">Book an Estimate</a>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-2 col-lg-2"></div>
      </div>
    </div>
  </div>
</div>

<div class="iaf-why-choose-us">
  <div class="container">
      <div class="iaf-why-choose-title">
          <p class="iaf-why-choose text-center">Why Choose Us?</p>
          <p class="iaf-we-servce text-center">We Serve Professionally</p>
      </div>

      <div class="row">
          <div class="col-sm col-md-6 col-lg-6">
            <div class="iaf-card-1">
              <div class="card iaf-why-choose-card-1">
                <div class="card-body text-center">
                    If you are ordering a simple window or covering your 4000 M2 building with
                    high grade alubond and curtain wall, I.A.F is the place to go to. I.A.F holds
                    33 years of experience in the manufacturing sector, over 150 trained technicians & a
                    team of 12 certified engineers
                </div>
              </div>  
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-6">
            <div class="iaf-card-2">
              <div class="card iaf-why-choose-card-2">
                <div class="card-body text-center">
                  I.A.F claims itself as the leader in its field, byConstantly increasing our market
                  share and maintaining our leadership in the field of aluminum subcontracting through
                  outstanding quality, exceptional craftsmanship and continuous determination.
                </div>
              </div>
            </div>
          </div>
      </div>

  </div>
</div>

<div class="iaf-mission-vision">
  <div class="card-img-overlay iaf-mission-vision-img">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p class="iaf-about-us-title mt-5">About Us</p>
          <p class="iaf-about-us-content">
            International Aluminium Factory (IAF) is a distinguished company in the field aluminum
            subcontracting leading in quality output. IAF has been able to grow through efficient
            management, and what we call “Hands On” production.
          </p>
          <p class="iaf-our-mission-title mt-5">Our Mission</p>
          <p class="iaf-our-mission-content">
            Provide innovative and fresh modern end products and
            services to our esteemed clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
