{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media only screen and (max-width: 1024px),  (max-width: 1900px) {

    .iaf-estimate {
        margin-top: 4rem;
    }

    .iaf-estimate-schedule-text {
        margin-top: 70px;
        font-size: 35px;
    }

    .iaf-estimate-schedule-description {
        font-size: 20px;
    }

    .iaf-estimate-card {
        top: 0;
        bottom: 0;
        position:fixed;
        overflow-y:scroll;
        overflow-x:hidden;

    }

    .iaf-estimate-form-card {
        margin-top: 20rem;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        margin-bottom: 10rem;
    }

    .iaf-book-est-btn {
        background-color: #1d2d75;
    }

    #iafInfo {
        opacity: 1;
        transition: opacity 1s;
    }

    #iafInfo.hide {
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and(max-width: 414px), (max-width: 480px) , (max-width: 540px) ,  (max-width: 320px)  {

    .iaf-estimate {
        font-size: 12px;
    }

    .iaf-estimate-card {
        padding: 1rem;
    }

    .iaf-form {
        margin-top: 15rem;
    }
}