{% load static %}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #f9f9f9;
}

.iaf-banner-img {
  margin-top: 2rem;
  position: relative;
  background: url("/static/images/iaf-banner.png");
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*  Desktops, large screens */
@media only screen and (max-width: 1024px),  (max-width: 1900px) {
  .iaf-banner {
    margin-top: 2rem;
  }

  .iaf-banner img {
    height: 95vh;
  }

  .iaf-banner-text-1 {
    margin-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-banner-text-2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-banner-card{
    height: 200px;
    top: 50px;
  }

  .iaf-banner-card-text {
    height: 46px;
    top: 589px;
    font-family: 'Poppins' , sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #010101;
  }

  
  .iaf-est-btn {
    display: flex;
    justify-content: center;
  }

  .iaf-book-est-btn {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
    background-color: #1d2d75;
    font-size: 18px;
    padding: 15px 0px 15px 0px;
    color: white;
    width: 218px;
    height: 54.66px;
    margin-bottom: 45px;
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
  }

  .iaf-why-choose-us {
    margin-top: 5rem;
  }

  .iaf-why-choose{
    font-family: 'Poppins' , sans-serif;
    font-size: 20px;
  }

  .iaf-we-servce {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
  }

  .iaf-why-choose-card-1 {
    margin-top: 30px;
    background: #1D2D75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: #FEFEFF;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 0px 10px 0px;
    width: 440px;
    height: 243px;
  }

  .iaf-why-choose-card-2 {
    margin-top: 30px;
    background: #1D2D75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: #FEFEFF;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 0px 10px 0px;
    width: 440px;
    height: 243px;
  }

  .iaf-card-1 , .iaf-card-2 {
    display: flex;
    justify-content: center;
  }

  .iaf-mission-vision {
    margin-top: 5rem;
  }

  .iaf-mission-vision-img {
    position: relative;
    background: url("/static/images/beach.png");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }

  .iaf-about-us-title, .iaf-our-mission-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-about-us-title {
    margin-top: 5rem;
  }

  .iaf-about-us-content, .iaf-our-mission-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

}

/*  Desktops, large screens */
@media only screen and (max-width: 480px) , (max-width: 540px) ,  (max-width: 320px )  {
  .iaf-banner-img {
    margin-top: 1rem;
    position: relative;
    background: url("/static/images/iaf-banner.png");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar-brand , .navbar-nav {
    font-size: 14px;
  }

  .navbar-toggler-icon {
    font-size: 14px;
  }

  .iaf-banner {
    margin-top: 2rem;
  }


  .iaf-banner-text-1 {
    margin-top: 150px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-banner-text-2 {
    font-family: 'Poppins' , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-banner-card{
    height: 100px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-banner-card-text {
    font-family: 'Poppins' , sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    color: #010101;
  }

  .iaf-est-btn {
    display: flex;
    justify-content: center;
  }

  .iaf-book-est-btn {
    filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
    background-color: #1d2d75;
    font-size: 12px;
    padding: 9px 0px 9px 0px;
    color: white;
    width: 50%;
    margin-bottom: 45px;
  }

  .iaf-why-choose-us {
    margin-top: 5rem;
  }

  .iaf-why-choose{
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
  }

  .iaf-we-servce {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }

  .iaf-why-choose-card-1 {
    background: #1D2D75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: #FEFEFF;
  }

  .iaf-why-choose-card-2 {
    margin-top: 20px;
    background: #1D2D75;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    color: #FEFEFF;
  }

  .iaf-mission-vision {
    margin-top: 5rem;
  }

  .iaf-mission-vision-img {
    position: relative;
    background: url("/static/images/beach.png");
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }

  .iaf-about-us-title, .iaf-our-mission-title {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .iaf-about-us-title {
    margin-top: 5rem;
  }

  .iaf-about-us-content, .iaf-our-mission-content {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
