{% extends 'base.html' %} 
{% load static %} 
{% block title %}IAF | Book an Estimate{% endblock %} 


{% block body %}
<div class="iaf-estimate">
    <div class="container">
        <div class="card p-5 border-0 iaf-estimate-card">
            <div class="row">
                <div class="col-sm col-md-6 col-lg-6">
                    <div class="align-content-center text-center">
                        <p class="fw-bold iaf-estimate-schedule-text">Schedule an estimate</p>
                        <p class="iaf-estimate-schedule-description">
                            Set a schedule to us for your estimation
                        </p>
                    </div>
                </div>
                <div class="col-sm col-md-6 col-lg-6">
                    <div class="align-content-center text-center">
                        <img src="{% static 'images/svg/estimate-banner.svg' %}" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="row iaf-form">
            <div class="col-sm col-md-2 col-lg-2"></div>
            <div class="col-sm col-md-7 col-lg-7">
                <div class="card p-3 shadow iaf-estimate-form-card">
                    <div class="card-title p-3">
                        <p>Please provide the following details to schedule an estimate</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <form method="post" action="/app/v1/book-an-estimate">
                                {% csrf_token %}
                                <div class="card-body" id="iafInfo">
                                    <div class="mb-3">
                                        <label for="lastName" class="form-label">Last Name</label>
                                        <input
                                            type="text"
                                            class="form-control iaf-estimate-form"
                                            id="lastName"
                                            name="lastName"
                                            required
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="firstName" class="form-label">First Name</label>
                                        <input
                                            type="text"
                                            class="form-control iaf-estimate-form"
                                            id="firstName"
                                            name="firstName"
                                            required
                                        />
                                    </div>

                                    <div class="mb-3">
                                        <label for="location" class="form-label">Location</label>
                                        <input
                                            type="text"
                                            class="form-control iaf-estimate-form"
                                            id="location"
                                            name="location"
                                            required
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="contact" class="form-label">Contact No.</label>
                                        <input
                                            type="text"
                                            class="form-control iaf-estimate-form"
                                            id="contact"
                                            name="contact"
                                            required
                                        />
                                    </div>

                                    <div class="mb-3">
                                        <label for="email" class="form-label"
                                        >Email Address (optional)</label
                                        >
                                        <input
                                            type="email"
                                            class="form-control iaf-estimate-form"
                                            id="email"
                                            name="email"
                                        />
                                    </div>

                                    <div class="mb-3">
                                        <p>Service</p>
                                        <div class="row">
                                            <div class="col">
                                                {% for service in service1 %}
                                                <div class="form-check mb-3">
                                                    <input
                                                            type="checkbox"
                                                            name="service"
                                                            id="option{{service.id}}"
                                                            value="{{service.id}}"
                                                            name="{{service.id}}"
                                                    />
                                                    <label for="option{{service.id}}">{{service.service}}</label
                                                    ><br />
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col">
                                                {% for service in service2 %}
                                                <div class="form-check mb-3">
                                                    <input
                                                            type="checkbox"
                                                            name="service"
                                                            id="option{{service.id}}"
                                                            value="{{service.id}}"
                                                            name="{{service.id}}"
                                                    />
                                                    <label for="option{{service.id}}">{{service.service}}</label
                                                    ><br />
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <button class="iaf-book-est-btn" onclick="myFunction()">
                                            Next
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body" style="display: none;" id="iafCalendar">
                                    <div class="mb-3">
                                        <p>Choose your schedule</p>
                                        <div class="card iaf-calendar-card">
                                            {% include "estimate/calendar.html" %}
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <p>Are you an existing customer?</p>
                                        {% for exist in existing_customer%}
                                        <div class="form-check form-check-inline">
                                            <input
                                                    class="form-check-input"
                                                    name="existing"
                                                    type="radio"
                                                    id="flexRadioDefault1"
                                                    value="{{exist}}"
                                            />
                                            <label class="form-check-label" for="flexRadioDefault1"
                                            >{{exist}}</label
                                            >
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="mb-3">
                                        <label for="howDoYouHear" class="form-label"
                                        >How do you hear about us?</label
                                        >
                                        <input
                                                type="text"
                                                class="form-control iaf-estimate-form"
                                                id="howDoYouHear"
                                                name="howDoYouHear"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="refName" class="form-label">Referral Name</label>
                                        <input
                                                type="text"
                                                class="form-control iaf-estimate-form"
                                                id="refName"
                                                name="refName"
                                        />
                                    </div>
                                    <div class="mb-3">
                                        <label for="comments" class="form-label">Comments</label>
                                        <textarea
                                                class="form-control"
                                                id="comments"
                                                name="comments"
                                                rows="3"
                                        ></textarea>
                                    </div>

                                    <div class="d-grid gap-2 d-md-block">
                                        <button class="iaf-book-est-btn" onclick="myFunction()" >
                                            Back
                                        </button>
                                        <button class="iaf-book-est-btn" >
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-2 col-lg-2"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function myFunction() {
        var info = document.getElementById("iafInfo");
        var calendar = document.getElementById("iafCalendar");
        if (info.style.display === "none") {
            info.style.display = "block";
            calendar.style.display = "none";
        } else {
            info.style.display = "none";
            calendar.style.display = "block";
          }
    }
</script>
{% endblock %}
