{% extends 'base.html' %}
{% load static %} 
{% block title %}IAF | Contact Us{%endblock %} 

{% block body %}

<div class="iaf-contact-us">
  <div class="container">
    <p class="iaf-contact-us-title">Contact Us</p>

    <div class="row">
      <div class="col-sm col-md-6 col-lg-6">
        <p class="iaf-contact-us-desc">
          Do you have a project you<br />
          would like us to take a look at<br />
          or maybe you have an idea?<br />
          Don’t hesitate to send us an<br />
          email or give us a call.
        </p>
      </div>

      <div class="col-sm col-md-6 col-lg-6">
        <div class="card iaf-contact-us-card">
          <div class="card-body">
            <form action="/app/v1/contact/contact-us/send-email" method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control iaf-contact-form"
                  id="name"
                  name="name"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control iaf-contact-form"
                  id="email"
                  name="email"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="contact" class="form-label">Contact No.</label>
                <input
                  type="text"
                  class="form-control iaf-contact-form"
                  id="contact"
                  name="contact"
                  required
                />
              </div>

              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea
                  class="form-control iaf-contact-textarea"
                  id="message"
                  name="message"
                  rows="3"
                ></textarea>
              </div>

              <button
                class="uk-button uk-button-small iaf-book-est-btn rounded-pill"
                type="submit"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="card border-0 iaf-contact-us-map-card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-sm col-md-6 col-lg-6">
              <p>Office Locations</p>
              <p>
                5th. Street, Sinkor, Monrovia, Liberia<br />
                Opposite Insurance Company Bldg and Total Gas Station<br />
                +231 770 250 250 / +231 886 121 212
              </p>
            </div>
            <div class="col-sm col-md-6 col-lg-6">
              <div class="iaf-address-map">
                <img src="{% static 'images/iaf_map.jpg' %}" class="img-fluid" alt="Google Map Address">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
